# Python cache
__pycache__/
*.pyc

# Configs and secrets (DO NOT UPLOAD PASSWORDS)
config.ini
setup_credentials.py
.env

# Large data files and ML models (Optional: if they are too big for GitHub)
*.pkl
*.csv
*.json

# Power BI temp files
*.pbix.temp
